<!-- <ul class="pagination" >
  <li><a href="#" class="first">&laquo;</a></li>
  <li><a href="#" class="prev">&#8249;</a></li>
  <li><a href="#" class="active">1</a></li>
  <li> <a>...</a> </li>
  <li> <a href="#">3</a></li>
  <li> <a href="#">4</a></li>
  <li> <a href="#">5</a></li>
  <li> <a href="#">6</a></li>
  <li> <a href="#">7</a></li>
  <li> <a href="#">8</a></li>
  <li> <a>...</a> </li>
  <li><a href="#" class="next">&#8250;</a></li>
  <li><a href="#" class="last">&raquo;</a></li>
</ul> -->
<div class="row with-gutter padding">
  <div class="col-8 text-left">
    <ul class="pagination" #paginator></ul>
  </div>
  <div class="col-2 inline-form text-left">
    <div class="form__group rows-padding">
      <label class="form__label rows-label" for="rowsPerPagDDl">Rows per page</label>
      <select class="rows-dropdown" [(ngModel)]="rowsPerPage" (ngModelChange)="onNoOfRowChange()">
        <option *ngFor="let item of rowsPerPagDDl" [value]="item.key">{{item.value}}</option>
      </select>
    </div>
  </div>
  <div class="col-2 text-left inline-form">
    <div class="form__group rows-padding">
      <label class="form__label rows-label" for="rowsCount">Total Rows</label>
      <mat-chip-list id="rowsCount">
        <mat-chip>
          {{pagination.totalCount}}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>
