.padding {
  padding-top: 1rem;
}
.rows-dropdown {
  width: 41px;
  height: 24px;
  background: #e1e7ec;
}
.rows-label {
  padding-right: 7px;
  color: #5f6b7a;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: right;
  flex: auto;
}
.rows-padding {
  padding-top: 0.3rem;
}
