
<h3 mat-dialog-title>
  KPI Filter

  <button mat-icon-button class="more-button" aria-label="Toggle menu" (click)="onDismiss(null)">
    <span class="material-icons close-icon">
      cancel
    </span>
  </button>
</h3>
  <div mat-dialog-content>
    <mat-card-content class="dashboard-card-content">
      <div class="row with-gutter-small">
          <div class="col-12">
            <mat-card class="flexible-card sub-card with-border">
              <mat-card-header>
                <mat-card-title>
                  Select Filter
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="dashboard-card-content">
                <div class="row">
                  <div class="col-12 padding-fix">
                    <app-multiselect [dropdown]="woDdl" [(ngModel)]="kpiFilterData.isPMWO"></app-multiselect>
                  </div>
                  <div class="col-12 padding-fix">
                    <div class="date_picker">
                      <input readonly [(ngModel)]="kpiFilterData.fromDate" [max]="maxDate" placeholder="From Date" class="form__input" [matDatepicker]="from_Date">
                      <mat-datepicker-toggle matSuffix [for]="from_Date"></mat-datepicker-toggle>
                      <mat-datepicker #from_Date></mat-datepicker>
                    </div>
                  </div>
                  <div class="col-12 padding-fix">
                    <div class="date_picker">
                      <input readonly [(ngModel)]="kpiFilterData.toDate" [max]="maxDate" placeholder="To Date" class="form__input" [matDatepicker]="to_Date">
                      <mat-datepicker-toggle matSuffix [for]="to_Date"></mat-datepicker-toggle>
                      <mat-datepicker #to_Date></mat-datepicker>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
      </div>
    </mat-card-content>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" class="m-r-1" (click)="filterKpi()">Filter</button>
    <button matRipple class="btn btn--tertiary without-border" (click)="resetFilter()">
      <span>Reset Filter</span>
    </button>
  </div>
