<div class="custom-flexible-grid">
  <mat-card class="flexible-card">
    <mat-card-content class="dashboard-card-content" *ngIf="searchModel">
      <div class="row with-gutter">
        <div  class="cus-col-9">
        <div class="row with-gutter-small">
        <div *ngFor="let item of data" class="col-{{item.col}}">
          <ng-container [ngSwitch]="item.inputType">
            <form action="" class="inline-form" *ngSwitchCase="'Text'">
              <div class="form__group">
                <input autocomplete='off' [(ngModel)]="searchModel[item.field]" [name]="item.placeHolder" class="form__input"
                  [id]="item.field" type="text" [placeholder]="item.placeHolder" aria-invalid="false" />
              </div>
            </form>
            <form action="" class="inline-form" *ngSwitchCase="'Number'">
              <div class="form__group">
                <input autocomplete='off' [(ngModel)]="searchModel[item.field]" [name]="item.placeHolder" class="form__input"
                  [id]="item.field" type="number" [placeholder]="item.placeHolder" aria-invalid="false" />
              </div>
            </form>
            <app-multiselect *ngSwitchCase="'Dropdown'" [(ngModel)]="searchModel[item.field]" [name]="item.field"
              [dropdown]="item.metadata" class="search-multiselect"></app-multiselect>
            <ng-container *ngSwitchCase="'Date'">
              <div class="date_picker">
                <input  [(ngModel)]="searchModel[item.field]"  [max]="maxDate" [name]="item.placeHolder" [placeholder]="item.placeHolder"
                  class="form__input" [matDatepicker]="date2" #datePicker="ngModel">
                <mat-datepicker-toggle matSuffix [for]="date2"></mat-datepicker-toggle>
                <mat-datepicker #date2></mat-datepicker>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <div  class="cus-col-3">
      <div class="row with-gutter-small">
        <div class="col-12 text-right">
          <button matRipple  color="primary" class="btn btn--primary" (click)="onSearch()">
            <span>Search</span>
          </button>
          <button matRipple class="btn btn--tertiary without-border"  (click)="clearForm()">
            <span>Clear Filter</span>
          </button>
        </div>
      </div>
    </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>
