<div class="grid-container">
  <div class="custom-flexible-grid">
    <mat-card class="flexible-card">
      <mat-card-header>
        <mat-card-title>
          Work Order List
          <!-- <h3>View your work order list here.</h3> -->
        </mat-card-title>
      </mat-card-header>
      <app-search class="search-equipment-list" [data]="searchInput" (search)="onSearch($event)"
        (clear)="onSearchClear()"></app-search>
      <mat-card-content class="dashboard-card-content">
        <ng-container *ngIf="workOrderList?.length; else noData">
          <app-table [columnDef]="columns" [rowData]="workOrderList" [settings]="settings" [pagination]="pagination"
            (changePage)="onPageChange($event)" (changeSort)="onSortChange($event)">
            <ng-template template="header" let-columns>
              <span [matTooltip]="columns.title">{{columns.title}}</span>
            </ng-template>
            <ng-template template="body" let-data>
              <td *ngFor="let col of data.columns">
                <ng-container [ngSwitch]="col.field">
                  <ng-container *ngSwitchCase="'equipmentSrNo'"> <span *ngIf="!data.rowData[col.field]"> - </span><span *ngIf="data.rowData[col.field]"
                      (click)="navToEquipmentDetails(data.rowData[col.field])"
                      class="color-red">{{data.rowData[col.field]}}</span>
                  </ng-container>
                  <ng-container *ngSwitchCase="'woID'"><a (click)="openWOPdf(data.rowData.wopdfPath)"><span
                        class="color-red">{{data.rowData[col.field]}}</span> </a>
                  </ng-container>
                  <ng-container *ngSwitchCase="'status'">
                    <mat-chip-list>
                      <mat-chip
                        [ngStyle]="{backgroundColor: woStatusStyle['statusBgColor_'+data.rowData.statusCode] ||'#e0e0e0', color:woStatusStyle['statusColor_'+data.rowData.statusCode]||'#0a0a0a' }"
                        [matTooltip]="data.rowData[col.field]">
                        {{data.rowData[col.field]}} </mat-chip>
                    </mat-chip-list>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    <span class="table-data-ellipsis" [matTooltip]="data.rowData[col.field]">
                      {{data.rowData[col.field] || '-'}}
                    </span>
                  </ng-container>
                </ng-container>
              </td>
            </ng-template>
          </app-table>
        </ng-container>
        <ng-template #noData>
          <div class="no-data-div">No Data Found</div>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
