<div class="grid-container">
  <mat-card class="flexible-card margin-bottom-1 billingId">
    <mat-card-content class="settings-page-card-content">
   <div class="row with-gutter">
    <div class="col-7">
      <form action="" class="inline-form">
      <div class="form__group">
            <label class="form__label" for="select-default">Billing ID</label>
            <ng-container *ngIf="!isAdmin; else adminBillingIdSearch">
              <app-multiselect class="multiselect-red sub-head-multiselect" name="billingId"
                [dropdown]="billingIdDdl"  [(ngModel)]="billingId" (ngModelChange)="changeBillingId()">
              </app-multiselect>
            </ng-container>
            <ng-template #adminBillingIdSearch>
              <app-billing-id-search (billingIdChange)="onAdminBillingIdChange($event)">
              </app-billing-id-search>
            </ng-template>
          </div>
          <div class="form__group" *ngIf="!!selectedAdminBillingId">
            <label class="form__label" for="select-default">Selected Billing ID</label>
            <mat-chip-list class="padding-adjust">
              <mat-chip [matTooltip]="selectedAdminBillingId" class="color-red">{{selectedAdminBillingId}}
              </mat-chip>
            </mat-chip-list>
          </div>
          <div *ngIf="!billingId?.length && !selectedAdminBillingId" class="billingid-warning">Please select a Billing ID</div>
      </form>
      </div>

      <div class="col-5 text-right"
        *ngIf="userPrivilage[5]?.menuStatus === 'A' && userPrivilage[5]?.userMenuStatus === 'A'  && userPrivilage[5]?.adminMenuStatus === 'A' || userType">
        <button routerLink="/dashboard/service-request" class="btn btn--primary"
          *ngIf="show !== '/dashboard/service-request'">
          <span class="material-icons">
            settings
          </span>
          <span>Request Service</span>
        </button>
        <button routerLink="/dashboard/pm-request" class="btn btn--primary"
          *ngIf="show !== '/dashboard/pm-request'">
          <span class="material-icons">
            build
          </span>
          <span>Request PM</span>
        </button>
      </div>
    </div>

      <div class="col-7">
        <form action="" class="inline-form">
          <div class="form__group">
                <label class="form__label" for="select-default">Shipping ID</label>
                <ng-container *ngIf="!isAdmin;">
                  <app-multiselect class="multiselect-red sub-head-multiselect" name="shippingId"
                    [dropdown]="shippingIdDdl" [(ngModel)]="shippingId" >
                  </app-multiselect>
                </ng-container>
                <ng-container *ngIf="isAdmin">

                  <input class="form__input" style="margin-left: 25px;" id="billingId" type="text" placeholder="Search for Shipping ID to Add"
                  value="" aria-describedBy="Search billing id" [matAutocomplete]="auto"
                   />
                <mat-autocomplete #auto="matAutocomplete">
                  <ng-container>
                    <ng-container>
                      <mat-option *ngFor="let bill of shippingIdDdl.data" [value]="bill.value" (onSelectionChange)="onBillingIdChange($event,bill.value)">
                        {{bill.value}}
                      </mat-option>
                    </ng-container>
                    <ng-template #noData>
                      <mat-option>No Data Found</mat-option>
                    </ng-template>
                  </ng-container>
                </mat-autocomplete>


                </ng-container>
              </div>
              <div class="form__group" *ngIf="!!selectedAdminShipingId">
                <label class="form__label" for="select-default">Selected Shipping ID</label>
                <mat-chip-list class="padding-adjust">
                  <mat-chip [matTooltip]="selectedAdminShipingId" class="color-red">{{selectedAdminShipingId}}
                  </mat-chip>
                </mat-chip-list>
              </div>
              <div *ngIf="!billingId?.length && !selectedAdminShipingId" class="billingid-warning">Please select a Shipping ID</div>
          </form>
        </div>
        </mat-card-content>
      </mat-card>




<mat-grid-list cols="2" rowHeight="50px" >

<mat-grid-tile colspan="2" rowspan="22">
  <mat-card class="flexible-card margin-bottom-1">
     <mat-card-header>
       <mat-card-title>Service History</mat-card-title>
     </mat-card-header>
     <app-search class="search-equipment-list" [data]="searchInput" (search)="onSearch($event)"
     (clear)="onSearchClear()"></app-search>
    <mat-card-content class=" claim-type-rows-table  settings-page-card-content">
      <ng-container *ngIf="(claimtypeRows | async) as claimtypeRows;  else assetLoader">
        <ng-container *ngIf="claimtypeRows?.length; else nofleetAssetData">
        <app-table [columnDef]="claimtypeColumns" [rowData]="claimtypeRows" [settings]="claimtypeSettings">
        <ng-template template="header" let-columns>
          <span [matTooltip]="columns.title">{{columns.title}}</span>
        </ng-template>
        <ng-template template="body" let-data>
          <td *ngFor="let col of data.columns">
            <ng-container [ngSwitch]="col.field">
              <ng-container *ngSwitchCase="'claimCode'">
                  <div class="col-4">
                    <div class="custom-select" >
                      <select [(ngModel)]="data.rowData[col.field]" (change)="changeDdlValue($event,data.rowData)">
                        <option  value="" disabled selected>Select Claim Type</option>
                        <option  *ngFor="let item of claimTypeDdl" [value]="item.keyField" >{{item.valueField}}</option>

                      </select>
                    </div>


                  </div>
                </ng-container>
                <!--<ng-container *ngSwitchCase="'equipmentSrNo'"> <span *ngIf="!data.rowData[col.field]"> - </span><span *ngIf="data.rowData[col.field]"
                  (click)="navToEquipmentDetails(data.rowData[col.field])"
                  class="color-red">{{data.rowData[col.field]}}</span>
              </ng-container>-->
              <ng-container *ngSwitchCase="'more'"><span class="color-red" (click)="moreClaimTypeDetails(data.rowData)">MORE</span></ng-container>
              <ng-container *ngSwitchDefault><span class="table-data-ellipsis" [matTooltip]="data.rowData[col.field]">{{data.rowData[col.field] || '-'}}</span></ng-container>
           </ng-container>
          </td>
        </ng-template>
        </app-table>
      </ng-container>
      </ng-container>

      <ng-template #nofleetAssetData>
        <ng-container *ngTemplateOutlet="noData"></ng-container>
      </ng-template>

      <ng-template #assetLoader>
        <ng-container *ngTemplateOutlet="loader"></ng-container>
      </ng-template>

     </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  </mat-grid-list>

</div>

<ng-template #loader>
  <div class="d-flex allign-v-centre">
    <div class="overlay"></div>
    <mat-spinner diameter="70"></mat-spinner>
  </div>
</ng-template>
<ng-template #noData>
  <div class="no-data-div">No Data Found</div>
</ng-template>
