<div class="grid-container">
  <!-- <h1 class="mat-h1">Dashboard</h1> -->
  <mat-grid-list cols="12" rowHeight="85px"
    *ngIf="userPrivilage[6]?.menuStatus === 'A' && userPrivilage[6]?.userMenuStatus === 'A'  && userPrivilage[6]?.adminMenuStatus === 'A' || isAdmin">
    <mat-grid-tile colspan="7" rowspan="5">
      <mat-card class="flexible-card">
        <mat-card-header class="reduced-padding align-items-center">
          <mat-card-title>
            Work Order Status
          </mat-card-title>
          <app-multiselect *ngIf="(locationDdl | async) as locationList" name="WoStatusGraphlocations"
            class="card-header-dropdown search-multiselect" [dropdown]="locationList"
            [(ngModel)]="woStatusGraphlocations" (ngModelChange)="onWorkOrderStatusChange()"></app-multiselect>
          <app-multiselect name="selectedWoStatusGraphId" class="card-header-dropdown margin-right-1 margin-left-1"
            [dropdown]="woStatusDd" [(ngModel)]="selectedWoStatusGraphId" (ngModelChange)="onWorkOrderStatusChange()">
          </app-multiselect>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ng-container *ngIf="(workOrderGraph | async) as workOrderGraph; else workOrderGraphLoader">
            <app-work-order-status-graph [workOrderStatus]="workOrderGraph"></app-work-order-status-graph>
          </ng-container>
          <ng-template #workOrderGraphLoader>
            <ng-container *ngTemplateOutlet="loader"></ng-container>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="5" rowspan="3">
      <mat-card class="flexible-card">
        <mat-card-header>
          <mat-card-title>
            Service Detail Search
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content service-detail-search">
          <ng-container
            *ngIf="{report:reportDdl | async,serialUnitNo:serialUnitNoDdl | async, location: locationDdl | async} as data">
            <ng-container *ngIf="data?.report && data?.serialUnitNo && data?.location; else reportLoader">
              <form [formGroup]="serviceReportForm">
                <div class="row with-gutter-small">
                  <div class="col-4">
                    <app-multiselect formControlName="serviceDetailId" name="report"
                      [dropdown]="data.report || undefined"></app-multiselect>
                  </div>
                  <div class="col-4">
                    <div class="date_picker">
                      <input placeholder="From Date" class="form__input" [matDatepicker]="fromDate"
                        formControlName="fromDate">
                      <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                      <mat-datepicker #fromDate></mat-datepicker>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="date_picker">
                      <input placeholder="To Date" class="form__input" [matDatepicker]="toDate"
                        formControlName="toDate">
                      <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                      <mat-datepicker #toDate></mat-datepicker>
                    </div>
                  </div>
                </div>
                <div class="row with-gutter-small">
                  <div class="col-6">
                    <app-multiselect formControlName="serialNoUnitNo" [dropdown]="data.serialUnitNo || undefined">
                    </app-multiselect>
                  </div>
                  <div class="col-6">
                    <app-multiselect formControlName="location" [dropdown]="data.location || undefined"
                      class="search-multiselect">
                    </app-multiselect>
                  </div>
                </div>
                <div class="row with-gutter-small">
                  <div class="col-6">
                    <button class="btn btn--primary full-width" (click)="downloadSeriveReport()"
                      mat-flat-button>Search</button>
                  </div>
                  <div class="col-6">
                    <button class="btn btn--tertiary without-border full-width" (click)="resetServiceReport()"
                      mat-flat-button>Reset</button>
                  </div>
                </div>
              </form>
            </ng-container>
          </ng-container>
          <ng-template #reportLoader>
            <ng-container *ngTemplateOutlet="loader"></ng-container>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="5" rowspan="2">
      <mat-card class="flexible-card">
        <mat-card-header>
          <mat-card-title>
            Equipment Search
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content equipment-search">
          <div class="row with-gutter-small">
            <div class="col-9">
              <ng-container *ngIf="(serialUnitNoDdl | async) as serialUnitNoDdl">
                <app-multiselect [dropdown]="serialUnitNoDdl" name="eqipmentSerialNo" [(ngModel)]="eqipmentSerialNo">
                </app-multiselect>
              </ng-container>
            </div>
            <div class="col-3">
              <button class="btn btn--primary full-width" mat-flat-button (click)="equipmentSearch()">Search</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="12" rowHeight="350px" *ngIf="isExecutiveSummayEnabled">
    <mat-grid-tile colspan="{{colSpan}}" rowspan="1"
      *ngIf="userPrivilage[0]?.menuStatus === 'A' && userPrivilage[0]?.userMenuStatus === 'A'  && userPrivilage[0]?.adminMenuStatus === 'A' || isAdmin">
      <mat-card class="flexible-card">
        <mat-card-header class="reduced-padding align-items-center">
          <mat-card-title>
            Executive Summary
          </mat-card-title>
          <app-multiselect *ngIf="(locationDdl | async) as locations" name="keyMetricsLocation"
            class="card-header-dropdown kpi-card-width search-multiselect" [dropdown]="locations"
            [(ngModel)]="executiveSummaryLocation" (ngModelChange)="onExecutiveSummaryLocationChange()">
          </app-multiselect>
          <button class="btn btn--stroked-danger margin-right-1 margin-left-1" (click)="_showExecutiveSummaryPopup()">
            <span>Expand</span>
          </button>

          <button mat-icon-button class="more-button" aria-label="Toggle menu" *ngIf="!isAdmin"
            (click)="updateUserPrivilageAccess(userPrivilage[0]?.menuId)">
            <span class="material-icons close-icon">
              cancel
            </span>
          </button>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-executive-summary-graph [location$]="selectedLocations$"></app-executive-summary-graph>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="{{colSpan}}" rowspan="1"
      *ngIf="userPrivilage[1]?.menuStatus === 'A' && userPrivilage[1]?.userMenuStatus === 'A'  && userPrivilage[1]?.adminMenuStatus === 'A' || isAdmin">
      <mat-card class="flexible-card">
        <mat-card-header class="reduced-padding align-items-center">
          <mat-card-title>
            Key Metrics
          </mat-card-title>
          <app-multiselect *ngIf="(locationDdl | async) as locations" name="keyMetricsLocation"
            class="card-header-dropdown kpi-card-width search-multiselect" [dropdown]="locations"
            [(ngModel)]="kpiLocation" (ngModelChange)="onKpiIdChange()">
          </app-multiselect>
          <app-multiselect name="keyMetrics"
            class="card-header-dropdown kpi-card-width search-multiselect margin-right-1 margin-left-1"
            [dropdown]="kpiDdl" [(ngModel)]="kpiId" (ngModelChange)="onKpiIdChange()">
          </app-multiselect>
          <button matRipple class="btn btn--stroked margin-right-1 margin-left-1" (click)="showKpiFilter()">
            <span color="red" class="material-icons">
              filter_alt
            </span>
            <span>Filter</span>
          </button>
          <button mat-icon-button class="more-button" aria-label="Toggle menu" *ngIf="!isAdmin"
            (click)="updateUserPrivilageAccess(userPrivilage[1]?.menuId)">
            <span class="material-icons close-icon">
              cancel
            </span>
          </button>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="call-completion-wrapper" *ngIf="(kpiReport$ | async) as kpi; else kpiLoader">
            <h3 class="call-complition-heading">{{kpiReportName || ''}}</h3>
            <ul id="call-count" *ngIf="kpiId === '3';else percentageReport">
              <li id="days">
                <div class="number">{{kpi.days}}</div>
                <div class="label">Days</div>
              </li>
              <li class="separator">:</li>
              <li id="hours">
                <div class="number">{{kpi.hours}}</div>
                <div class="label">Hrs</div>
              </li>
              <li class="separator">:</li>
              <li id="minutes">
                <div class="number">{{kpi.minutes}}</div>
                <div class="label">Min</div>
              </li>
              <li class="separator">:</li>
              <li id="seconds">
                <div class="number">{{kpi.seconds}}</div>
                <div class="label">Sec</div>
              </li>
            </ul>
            <ng-template #percentageReport>
              <ul id="call-count">
                <li id="days">
                  <div class="number full-width">{{kpi.percentage}}</div>
                  <div class="label">Percentage</div>
                </li>
              </ul>
            </ng-template>

            <button class="btn btn--primary download-report" mat-flat-button (click)="downloadKPIReport()">
              <span>Download Report</span>
            </button>
          </div>
          <ng-template #kpiLoader>
            <ng-container *ngTemplateOutlet="loader"></ng-container>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="custom-flexible-grid"
    *ngIf="userPrivilage[2]?.menuStatus === 'A' && userPrivilage[2]?.userMenuStatus === 'A'  && userPrivilage[2]?.adminMenuStatus === 'A' || isAdmin">
    <mat-card class="flexible-card">
      <mat-card-header class="reduced-padding align-items-center">
        <mat-card-title>
          Work Orders
        </mat-card-title>
        <a routerLink="/work-orders" target='_blank'>
          <button class="btn btn--stroked-danger margin-right-1 margin-left-1">
            <span>View All</span>
          </button></a>
        <button mat-icon-button class="more-button" aria-label="Toggle menu" *ngIf="!isAdmin"
          (click)="updateUserPrivilageAccess(userPrivilage[2]?.menuId)">
          <span class="material-icons close-icon">
            cancel
          </span>
        </button>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <!-- <mat-chip-list>
            <mat-chip color="primary">Chip 2</mat-chip>
            <mat-chip color="warn">Chip 2</mat-chip>
          </mat-chip-list> -->
        <ng-container *ngIf="(woRows | async) as woRows; else woRowsLoader">
          <ng-container *ngIf="woRows?.length; else nowoRows">
            <app-table [columnDef]="woColumns" [rowData]="woRows" [settings]="woSettings">
              <ng-template template="header" let-columns>
                <span [matTooltip]="columns.title">{{columns.title}}</span>
              </ng-template>
              <ng-template template="body" let-data>
                <td *ngFor="let col of data.columns">
                  <ng-container [ngSwitch]="col.field">
                    <ng-container *ngSwitchCase="'equipmentSrNo'"><span
                        (click)="equipmentSearch(data.rowData[col.field])"
                        class="color-red">{{data.rowData[col.field]}}</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'woID'">
                      <a (click)="openWOPdf(data.rowData.wopdfPath)"><span
                          class="color-red">{{data.rowData[col.field]}}</span></a>
                    </ng-container>
                    <ng-container *ngSwitchCase="'status'">
                      <mat-chip-list>
                        <mat-chip
                          [ngStyle]="{backgroundColor: woStatusStyle['statusBgColor_'+data.rowData.statusCode] ||'#e0e0e0', color:woStatusStyle['statusColor_'+data.rowData.statusCode]||'#0a0a0a' }"
                          [matTooltip]="data.rowData[col.field]">
                          {{data.rowData[col.field]}} </mat-chip>
                      </mat-chip-list>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <span class="table-data-ellipsis" [matTooltip]="data.rowData[col.field]">
                        {{data.rowData[col.field] || '-'}}
                      </span>
                    </ng-container>
                  </ng-container>
                </td>
              </ng-template>
            </app-table>
          </ng-container>
          <ng-template #nowoRows>
            <ng-container *ngTemplateOutlet="noData"></ng-container>
          </ng-template>
        </ng-container>
        <ng-template #woRowsLoader>
          <ng-container *ngTemplateOutlet="loader"></ng-container>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="custom-flexible-grid">
    <mat-card class="flexible-card"
      *ngIf="userPrivilage[3]?.menuStatus === 'A' && userPrivilage[3]?.userMenuStatus === 'A'  && userPrivilage[3]?.adminMenuStatus === 'A' || isAdmin">
      <mat-card-header class="reduced-padding align-items-center">
        <mat-card-title>
          Preventive Maintenance List
        </mat-card-title>
        <a routerLink="/preventive-maintenance" target='_blank'>
          <button class="btn btn--stroked-danger margin-right-1 margin-left-1">
            <span>View All</span>
          </button>
        </a>
        <button mat-icon-button class="more-button" aria-label="Toggle menu" *ngIf="!isAdmin"
          (click)="updateUserPrivilageAccess(userPrivilage[3]?.menuId)">
          <span class="material-icons close-icon">
            cancel
          </span>
        </button>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <ng-container *ngIf="(pmRows | async) as pmRows; else pmRowsLoader">
          <ng-container *ngIf="pmRows?.length; else noPmRows">
            <app-table [columnDef]="pmColumns" [rowData]="pmRows" [settings]="pmSettings" [expColumnDef]="pmExpColumns">
              <ng-template template="header" let-columns>
                <span [matTooltip]="columns.title">{{columns.title}}</span>
              </ng-template>
              <ng-template template="body" let-data>
                <td *ngFor="let col of data.columns">
                  <ng-container [ngSwitch]="col.field">
                    <ng-container *ngSwitchCase="'equipmentSerialNo'"><span
                        (click)="equipmentSearch(data.rowData[col.field])"
                        class="color-red">{{data.rowData[col.field]}}</span></ng-container>
                    <ng-container *ngSwitchCase="'lastPM'"> <span *ngIf="!data.rowData[col.field]"> - </span> <a *ngIf="data.rowData[col.field]" (click)="openWOPdf(data.rowData.wopdfPath)"><span
                          class="color-red">{{data.rowData[col.field]}}</span> </a>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      {{data.rowData[col.field] || '-'}}
                    </ng-container>
                  </ng-container>
                </td>
              </ng-template>
            </app-table>
          </ng-container>
          <ng-template #noPmRows>
            <ng-container *ngTemplateOutlet="noData"></ng-container>
          </ng-template>
        </ng-container>
        <ng-template #pmRowsLoader>
          <ng-container *ngTemplateOutlet="loader"></ng-container>
        </ng-template>
      </mat-card-content>
    </mat-card>
    <mat-card class="flexible-card"
      *ngIf="userPrivilage[4]?.menuStatus === 'A' && userPrivilage[4]?.userMenuStatus === 'A'  && userPrivilage[4]?.adminMenuStatus === 'A' || isAdmin">
      <mat-card-header class="reduced-padding align-items-center">
        <mat-card-title>
          Invoice List
        </mat-card-title>
        <a routerLink="/invoices" target='_blank'>
          <button class="btn btn--stroked-danger margin-right-1 margin-left-1">
            <span>View All</span>
          </button>
        </a>
        <button mat-icon-button class="more-button" aria-label="Toggle menu" *ngIf="!isAdmin"
          (click)="updateUserPrivilageAccess(userPrivilage[4]?.menuId)">
          <span class="material-icons close-icon">
            cancel
          </span>
        </button>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <ng-container *ngIf="(invoiceRows | async) as invoiceRows; else invoiceRowsLoader">
          <ng-container *ngIf="invoiceRows?.length;else noinvoiceData">
            <app-table [columnDef]="invoiceColumns" [rowData]="invoiceRows" [settings]="invoiceSettings"
              [expColumnDef]="invoiceExpColumns">
              <ng-template template="header" let-columns>
                <span [matTooltip]="columns.title">{{columns.title}}</span>
              </ng-template>
              <ng-template template="body" let-data>
                <td *ngFor="let col of data.columns">
                  <ng-container [ngSwitch]="col.field">
                    <ng-container *ngSwitchCase="'invoiceNumber'"><span (click)="downloadInvoicePdf(data.rowData)"
                        class="color-red">{{data.rowData[col.field]}}</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'equipSerialNo'"><span *ngIf="!data.rowData[col.field]"> - </span>
                      <span *ngIf="data.rowData[col.field]" (click)="equipmentSearch(data.rowData[col.field])"
                        class="color-red">{{data.rowData[col.field]}}</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'invoicePaidStatus'"><span>{{data.rowData[col.field] === '0'?'Unpaid':
                        'Paid'}}</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'invoiceTotAmt'"><span>${{data.rowData[col.field]}}</span>
                    </ng-container>
                    <ng-container *ngSwitchDefault>{{data.rowData[col.field] || '-'}}</ng-container>
                  </ng-container>
                </td>
              </ng-template>
            </app-table>
          </ng-container>
        </ng-container>
        <ng-template #noinvoiceData>
          <ng-container *ngTemplateOutlet="noData"></ng-container>
        </ng-template>
        <ng-template #invoiceRowsLoader>
          <ng-container *ngTemplateOutlet="loader"></ng-container>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<ng-template #noData>
  <div class="no-data-div">No Data Found</div>
</ng-template>
<ng-template #loader>
  <div class="d-flex allign-v-centre">
    <div class="overlay"></div>
    <mat-spinner diameter="70"></mat-spinner>
  </div>
</ng-template>
