<div class="grid-container">
  <!-- <mat-grid-list cols="12" rowHeight="200px">
    <mat-grid-tile colspan="12" rowspan="6"> -->
  <mat-card class="flexible-card margin-bottom-1">
    <mat-card-header>
      <mat-card-title>
        Admin Settings
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="settings-page-card-content">
      <div class="row with-gutter-small">
        <div class="col-3">
          <nav class="settigs-card-color">
            <ul class="settings-side-navigation">
              <li class="active" [appScrollTo]="resetpassword">Reset Your Password</li>
              <li [appScrollTo]="dashboardDiv">Dashboard Settings</li>
              <li [appScrollTo]="notificationDiv">Notification Settings</li>
            </ul>
          </nav>
        </div>
        <div class="col-9">
          <div class="row">
            <div class="col-12 margin-bottom-1" #resetpassword>
              <form class="login-form" [formGroup]="resetForm" (submit)="resetPassword()">
                <mat-card  class="flexible-card sub-card-2 with-border settigs-card-color" id="reset">
                  <mat-card-header>
                    <mat-card-title>
                      Reset Your Password
                    </mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="settings-card-content">
                    <div class="row with-gutter-small margin-bottom-1 margin-top-1">
                      <div class="col-3">
                        <div class="form__group">
                          <label class="form__label" for="param2">Existing Password</label>
                          <input formControlName="param2" class="form__input" id="param2" type="password"
                            placeholder="Existing Password" value="" aria-invalid="false"
                            aria-describedBy="default-hint" />
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="form__group">
                          <label class="form__label" for="param3">New Password</label>
                          <input formControlName="param3" class="form__input" id="param3" type="text"
                            placeholder="New password" aria-invalid="false" aria-describedBy="default-hint"
                            autocomplete="off" />
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="form__group">
                          <label class="form__label" for="confirmPassword">Confirm Password</label>
                          <input formControlName="confirmPassword" class="form__input" id="confirmPassword"
                            type="password" placeholder="Confirm password" aria-invalid="false"
                            aria-describedBy="default-hint" />
                        </div>
                      </div>
                    </div>
                    <div class="row with-gutter-small margin-bottom-1 margin-top-1">
                      <span class="color-red">
                        *Password should contain a minimum of 8 characters with an Upper Case Letter, a
                        Lower Case Letter, a Numeric Character and a Special Character.
                      </span>
                    </div>
                    <button type="submit" [disabled]="!resetForm.valid" matRipple class="btn btn--primary">
                      <span>Save Changes</span>
                    </button>
                  </mat-card-content>
                </mat-card>
              </form>
            </div>
          </div>
          <!-- CARD 2 -->
          <div class="row">
            <div class="col-12 margin-bottom-1" #dashboardDiv>
              <mat-card class="flexible-card sub-card-3 with-border settigs-card-color" id="dashboard">
                <mat-card-header class="custom-header">
                  <mat-card-title class="custom-title">
                    Dashboard Settings
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content *ngIf="dashboardSettingsForm" class="settings-card-content" [formGroup]="dashboardSettingsForm">
                  <div class="row with-gutter-small">
                    <div class="col-6" >
                      <mat-card class="flexible-card sub-card with-border" *ngIf="keyFeatureSettings && keyFeatureSettings.length">
                        <mat-card-header class="settigs-card-color">
                          <mat-card-title>
                            Key Features
                          </mat-card-title>
                          <mat-slide-toggle class="pull-right" [formControlName]="keyFeatureSettings[0].menuId"
                            color="success"></mat-slide-toggle>
                        </mat-card-header>
                        <mat-card-content class="dashboard-card-content">
                          <ul class="no-style">
                            <li>WO Status</li>
                            <li>Service Details Search</li>
                            <li>Equipment Search</li>
                          </ul>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="col-6" >
                      <mat-card class="flexible-card sub-card with-border" *ngIf="reqFeatureSettings && reqFeatureSettings.length">
                        <mat-card-header class="settigs-card-color">
                          <mat-card-title>
                            Request Feature
                          </mat-card-title>
                          <mat-slide-toggle class="pull-right" [formControlName]="reqFeatureSettings[0].menuId"
                            color="success"></mat-slide-toggle>
                        </mat-card-header>
                        <mat-card-content class="dashboard-card-content">
                          <ul class="no-style">
                            <li>Service Request</li>
                            <li>PM Request</li>
                          </ul>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>
                  <div class="row with-gutter-small margin-bottom-1 margin-top-1"
                    *ngFor="let settings of dashboardSettings">
                    <div class="col-6">
                      <h5 class="no-margin">{{settings.menuName}}</h5>
                      <h6>{{settings.menuDesc}}</h6>
                    </div>
                    <div class="col-2 object-center">
                      <mat-slide-toggle [formControlName]="settings.menuId" color="success"></mat-slide-toggle>
                    </div>
                  </div>
                  <button class="btn btn--primary" (click)="submitSettings('DASHBOARD')">
                    <span>Save Changes</span>
                  </button>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <!-- CARD 3 -->
          <div class="row" >
            <div class="col-12 margin-bottom-1" #notificationDiv>
              <mat-card class="flexible-card sub-card-2 with-border settigs-card-color" id="notification">
                <mat-card-header>
                  <mat-card-title>
                    Notification Settings
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content *ngIf="notificationSettingsForm" class="settings-card-content" [formGroup]="notificationSettingsForm">
                  <div class="row with-gutter-small margin-bottom-1 margin-top-1">
                    <div class="col-6">

                    </div>
                    <div class="col-2 text-center">
                      Email Notification
                    </div>
                    <div class="col-2 text-center">
                      Text Message
                    </div>
                    <div class="col-2 text-center">
                      Mobile Notification
                    </div>
                  </div>
                  <div class="row with-gutter-small margin-bottom-1 margin-top-1">
                    <div class="col-6">
                      <h5 class="no-margin">Work Order Status Change</h5>
                      <h6>User will be notified whenever there is a change in Work Order Status.</h6>
                    </div>
                    <div class="col-2 object-center">
                      <mat-slide-toggle color="success" formControlName="13"></mat-slide-toggle>
                    </div>
                    <div class="col-2 object-center">
                      <mat-slide-toggle color="success" formControlName="12"></mat-slide-toggle>
                    </div>
                    <div class="col-2 object-center">
                      <mat-slide-toggle color="success" formControlName="8"></mat-slide-toggle>
                    </div>
                  </div>
                  <div class="row with-gutter-small margin-bottom-1 margin-top-1">
                    <div class="col-6">
                      <h5 class="no-margin">New Service and PM request</h5>
                      <h6>User will be notified whenever a Service / PM request is created.</h6>
                    </div>
                    <div class="col-2 object-center">
                      <mat-slide-toggle color="success" formControlName="9"></mat-slide-toggle>
                    </div>
                    <div class="col-2 object-center">
                      <mat-slide-toggle color="success" formControlName="10"></mat-slide-toggle>
                    </div>
                    <div class="col-2 object-center">
                      <mat-slide-toggle color="success" formControlName="11"></mat-slide-toggle>
                    </div>
                  </div>
                  <button class="btn btn--primary" (click)="submitSettings('NOTIFICATION')">
                    <span>Save Changes</span>
                  </button>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
