.d-flex {
  display: flex;
}
.allign-v-centre {
  align-items: center;
  position:  relative;
  justify-content: center;
  z-index: 9999;
}
.overlay {
  background-color: #ffff;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.spinner {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%,-50%);
}
