<div class="grid-container">
  <h1 mat-dialog-title>
    Alert!
    <button mat-icon-button class="more-button" aria-label="Toggle menu" (click)="closePopup()">
      <span class="material-icons close-icon">
        cancel
      </span>
    </button>
  </h1>
  <div class="row">
    <div class="col-12 margin-bottom-1">
      <mat-card class="flexible-card sub-card-2 with-border">
        <mat-card-header>
          <mat-card-title>
            Forgot Password
          </mat-card-title>
        </mat-card-header>
        <form class="login-form">
          <mat-card-content class="settings-card-content">
            <div class="row with-gutter-small margin-bottom-1 margin-top-1">
              <div class="col-3">
                <div class="form__group">
                  <ng-container *ngIf="!enableOTP; else otpEnabled">
                    <label class="form__label" for="param">Enter Email ID</label>
                    <input [formControl]="email" class="form__input" id="param" type="text" placeholder="Email ID" value=""
                      aria-invalid="false" aria-describedBy="default-hint" />
                  </ng-container>
                  <ng-template #otpEnabled>
                    <label class="form__label" for="param">Enter OTP</label>
                    <ngx-otp-input [config]="otpInputConfig" (otpChange)="handleOtpChange($event)"></ngx-otp-input>
                  </ng-template>
                </div>
              </div>
            </div>
            <button type="submit" [disabled]="!this.enableOTP ? !this.email.valid : this.otp?.length !==6" matRipple class="btn btn--primary" (click)="submitForgotPassword()">
              <span>Submit</span>
            </button>
            <button type="button" class="btn btn--tertiary without-border" (click)="closePopup()">
              <span>Cancel</span>
            </button>
          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </div>
  <app-loader *ngIf="loader"></app-loader>
