<div class="grid-container">
  <div class="custom-flexible-grid">
    <mat-card class="flexible-card">
      <mat-card-header>
        <mat-card-title>
          Equipment List
          <!-- <h3>View your equipment list here.</h3> -->
        </mat-card-title>
        <button (click)="downloadExcel()" class="btn btn--primary"
              >
              <span class="material-icons ">
                download
              </span>
              <span>Download</span>
            </button>
      </mat-card-header>
      <app-search class="search-equipment-list" [data]="search" (search)="onSearch($event)" (clear)="onSearchClear()"></app-search>
      <mat-card-content class="dashboard-card-content">
        <ng-container *ngIf="equipmentLists?.length; else noData">
        <app-table [columnDef]="columns" [rowData]="equipmentLists" [settings]="settings"
          [pagination]="pagination" (changePage)="onPageChange($event)" (changeSort)="onSortChange($event)">
          <ng-template template="header" let-columns>
            <span [matTooltip]="columns.title">{{columns.title}}</span>
          </ng-template>
          <ng-template template="body" let-data>
            <td *ngFor="let col of data.columns">
              <span *ngIf="col.field !== 'equipSerialNo'; else serialNo" class="table-data-ellipsis" [matTooltip]="data.rowData[col.field]">
                {{data.rowData[col.field]  || '-'}}
              </span>
              <ng-template #serialNo>
                <span class="color-red" [matTooltip]="data.rowData[col.field]" (click)="navToEquipmentDetails(data.rowData[col.field])">
                  {{data.rowData[col.field]}}
                </span>
              </ng-template>
            </td>
          </ng-template>
        </app-table>
      </ng-container>
               <ng-template #noData>
            <div class="no-data-div">No Data Found</div>
          </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
