<!-- <div id="executiveSummary" #executiveSummary></div> -->
<!-- <mat-grid-list cols="12" rowHeight="350px" *ngIf="data">
    <mat-grid-tile colspan="12" rowspan="1"
      >
      <mat-card class="flexible-card">
        <mat-card-header class="reduced-padding align-items-center">
          <mat-card-title>
            Executive Summary
          </mat-card-title>

        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <div id="executiveSummary" #executiveSummary></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    </mat-grid-list> -->
    <div class="custom-flexible-grid" *ngIf="data">
    <mat-card class="flexible-card">
      <mat-card-header class="reduced-padding align-items-center">
        <mat-card-title>
            Executive Summary
        </mat-card-title>
        <div class="row with-gutter-small">
                        <div class="col-4">
              <div class="date_picker">
                <input  placeholder="From Date" [(ngModel)]='startDate' [max]="maxDate" class="form__input" [matDatepicker]="fromDate" (dateChange)="onDateSelected()" #datePicker="ngModel">
                <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                <mat-datepicker #fromDate></mat-datepicker>
              </div>
            </div>
            <div class="col-4">
              <div class="date_picker">
                <input  placeholder="To Date" [(ngModel)]='endDate' [max]="maxDate" class="form__input" [matDatepicker]="toDate"  (dateChange)="onDateSelected()" #datePicker="ngModel">
                <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                <mat-datepicker #toDate></mat-datepicker>
              </div>
            </div>
          </div>
          <button mat-icon-button class="more-button" aria-label="Toggle menu">
            <span class="material-icons close-icon" (click)="closeDialog()">
              cancel
            </span>
          </button>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div id="executiveSummary" #executiveSummary *ngIf="executiveSummaryService?.executiveSummary?.executiveSummaryCurYearlist?.length || executiveSummaryService.executiveSummary?.executiveSummaryPrevYearlist?.length" class="top-padding"></div>
      </mat-card-content>
    </mat-card>
  </div>
    <div id="executiveSummary" *ngIf="!data && (executiveSummaryResponseTemp?.executiveSummaryCurYearlist?.length || executiveSummaryResponseTemp?.executiveSummaryPrevYearlist?.length)" #executiveSummary></div>
    <div class="d-flex allign-v-centre" *ngIf="loader" >
      <div class="overlay"></div>
      <mat-spinner diameter="70"></mat-spinner>
    </div>
      <div class="no-data-div" *ngIf="!loader && !executiveSummaryService?.executiveSummary?.executiveSummaryCurYearlist?.length && !executiveSummaryService.executiveSummary?.executiveSummaryPrevYearlist?.length">No Data Found</div>
