<mat-toolbar color="primary">
  <span class="header-logo"><img  src="assets/images/mhsLogo.png" alt="logo"></span>
  <div class="example-spacer">
    <nav *ngIf="isAdmin">
      <ul class="header-navigation">
        <li *ngIf="isSuperAdmin"><a routerLink="/admin" routerLinkActive="active">Admins</a></li>
        <li><a routerLink="/customers" routerLinkActive="active">Users</a></li>
        <li><a routerLink="/admin-settings" routerLinkActive="active">Settings</a></li>
      </ul>
    </nav>
  </div>
  <button (click)="logout()" mat-button class="logout-icon logout-icon" aria-label="Example icon-button with heart icon">
    <span class="material-icons">
      logout
    </span>
    <span>Logout</span>
  </button>
</mat-toolbar>
<app-loader *ngIf="loader.loader$ | async"></app-loader>
