<app-pagination *ngIf="settings.pagination && pagination.totalCount" [pagination]="pagination" (changePage)="onPageChange($event)"></app-pagination>
<div class="table-container scrolable-table">
  <table class="table-view" *ngIf="templates">
    <ng-container *ngFor="let template of templates">
      <ng-container [ngSwitch]="template.templatename">
        <ng-container *ngSwitchCase="'header'">
          <thead>
            <tr>
              <th *ngIf="settings.selectable">
                <mat-checkbox [(ngModel)]="selectAllRows" (ngModelChange)="onSelectAllRowsChange()" class="example-margin input-field checkbox">
                </mat-checkbox>
              </th>
              <th *ngFor="let col of columnDef">
                <div class="table-header-label-container">
                  <span class="table-header-label">
                    <ng-container *ngTemplateOutlet="template.templates; context: {$implicit:col}">
                    </ng-container>
                  </span>
                  <div class="sort-button" *ngIf="col.sortable">
                    <span *ngIf="(order === 'desc' || order === '') || orderBy !== col.field" class="material-icons"
                      (click)="sort(col.field, 'asc', col.type || '')">
                      arrow_drop_up
                    </span>
                    <span *ngIf="(order === 'asc' || order === '') || orderBy !== col.field" class="material-icons"
                      (click)="sort(col.field, 'desc', col.type || '')">
                      arrow_drop_down
                    </span>
                  </div>
                </div>
              </th>
              <th *ngIf="settings.expandable"></th>
            </tr>
          </thead>
        </ng-container>
        <ng-container *ngSwitchCase="'body'">
          <tbody>
            <ng-container *ngFor="let row of rowData; let i = index">
              <tr [ngClass]="{'selected-row': selectModel[i]}">
                <td *ngIf="settings.selectable">
                  <mat-checkbox [(ngModel)]="selectModel[i]" (ngModelChange)="onRowCheckedOrUnchecked($event)" class="example-margin input-field checkbox"></mat-checkbox>
                </td>
                <ng-container *ngTemplateOutlet="template.templates; context: {
                    $implicit:{rowData:row, index: i, columns:columnDef}
                  }">
                </ng-container>
                <td *ngIf="settings.expandable">
                  <span (click)="expandOrCollapse(i)" class="material-icons expand-button">
                    {{row.expanded ? 'expand_less' : 'expand_more'}}
                  </span>
                </td>
              </tr>
              <ng-container *ngIf="settings.expandable">
                <tr class="expandable" *ngIf="row.expanded">
                  <td colspan="15">
                    <div class="expandable-container">
                      <div class="row">
                        <div class="col-3"  *ngFor=" let col of expColumnDef">
                          <div class="form__group">
                            <label class="form__label form_value_label">{{col.title}}</label>
                            <div class="form_values">{{row[col.field] || '-'}}</div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </ng-container>
      </ng-container>
    </ng-container>
  </table>
</div>
<!-- <app-pagination *ngIf="settings.pagination && pagination.totalCount" [pagination]="pagination" (changePage)="onPageChange($event)"></app-pagination> -->
<!-- <ul class="pagination" *ngIf="settings.pagination">
  <li><a href="#" class="first">&laquo;</a></li>
  <li><a href="#" class="prev">&#8249;</a></li>
  <li><a href="#" class="active">1</a></li>
  <li> <a>...</a> </li>
  <li> <a href="#">3</a></li>
  <li> <a href="#">4</a></li>
  <li> <a href="#">5</a></li>
  <li> <a href="#">6</a></li>
  <li> <a href="#">7</a></li>
  <li> <a href="#">8</a></li>
  <li> <a>...</a> </li>
  <li><a href="#" class="next">&#8250;</a></li>
  <li><a href="#" class="last">&raquo;</a></li>
</ul> -->
<!-- <td><rb-letter-avatar avatar-shape="round" avatar-font-size="20px" avatar-font-weight="bold" avatar-height="40" avatar-width="40" [avatar-data]='row.athlete'></rb-letter-avatar></td> -->
